*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #151515;
    /* font-family: 'Handlee',cursive; */
    font-family: "Kalam", cursive;
    transition: all ease cubic-bezier(0.075, 0.82, 0.165, 1) 0.3;
    scroll-behavior: smooth;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #151515;
}
#nav{
    margin-top: 1vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 8vh;
    /* background-color: orangered; */
    padding: 4vh;
}
#nav1{
    /* font-family: 'satisfy',cursive; */
    /* font-family: 'julee',cursive; */
    /* font-family: 'Sacramento',cursive; */
    font-family: "Zeyada", cursive;
    /* font-family: "Sedgwick Ave Display", cursive; */
    margin-top: 5vh;
    display: flex;
    font-size: 5vh;
    font-weight: 10;
    color: #2bff00;
}
#nav2{
    display: flex;
    gap: 10vh;
}
#homeContent{
    margin-top: 7vh;
    padding: 1%;
    width: 100%;
    height: calc(100% - 8vh );
    /* background-color: skyblue; */
}
#logo{
    top: 10%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center;    
    width: 60vh;
    height:50vh;
    border-radius: 10vh;
}
#tagline{
    font-size: 3.5vh;
    position: relative;
    margin: 15vh;
    transform: translateX(-50%);
    left: 45%;
}
#about{
    width: 100%;
    height: 100%;
    /* background-color: skyblue; */
}
#aboutText{
    padding: 2vh;
    /* color: #2bff00; */
    font-family: 'julee',cursive;
    font-size: 7vh;
    color: #2bff00;
}
#about .people{
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30vh;
    height: 30vh;
    /* object-fit: cover; */
    margin: 5vh;    
    /* background-color: red; */
}
#about .people img{
    position: relative;
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    object-position: top;
}
#about .people h3{
    position: relative;
    padding: 0vh 9vh;
    justify-content: center;
}
#teamIntro{
    position: relative;
    left: 49%;
    transform: translateX(-50%);
    padding: 0.01vh;
    width: 90%;
    font-size: 3.5vh;
    margin:0vh 2vh;
    margin-top: 5vh;
    height: calc(100% - 55vh);
    /* background-color: #2bff00; */
}

#article{
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    /* background-color: #2bff00; */
}

#articleText{
    font-size: 7vh;
}
.content{

    margin: 0vh 10vh;
    /* background-color: orangered; */
    width: 90%;
    height: 85%;
}
#articleImg{
    display: inline-block;
    width: 30%;
    height: 60%;
    /* background-color: #fff; */
}
#articleTitle{
    margin: 1vh;
    font-size: 3vh;
}
#articleImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
